streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.23
openai
fpdf
passlib
bcrypt
python-dotenv
pandas
APScheduler==3.10.4
psutil
psycopg2-binary
sqlalchemy
extra-streamlit-components
